.prize-grid {
	grid-template-rows: min-content min-content;
	height: fit-content;
}

.display-cards-wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
}

.display-cards-wrapper__title {
	padding: 1.15rem 1.15rem 0 1.15rem;
}

.display-cards-wrapper__cards {
	display: flex;
	flex-wrap: wrap;

	align-items: center;

	justify-content: space-around;
}

.display-cards-wrapper__cards .card-item {
	box-shadow: none;
}
