.customers-item {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */

	max-width: 100%;
	overflow: hidden;

	padding: 1.15rem 1.15rem 1.15rem 1.15rem;

	row-gap: var(--row-gap);
}

.customers-table__wrapper {
	display: inline-flex;

	/* margin: 1rem 1.5rem; */

	width: 100%;
	height: fit-content;

	overflow-y: auto;
	overflow-x: auto;

	border: 1px solid var(--first-color-lighten);
	border-radius: 4px;
}

.customers-table {
	width: 100%;
	height: fit-content;

	border-collapse: collapse;
	/* white-space: nowrap; */
	table-layout: fixed;
}

.customers-table__head {
	height: 64px;
}

.customers-table__head th {
	text-align: left;
	font-weight: var(--font-medium);
}

.customers-table__head th,
.customers-table__row td {
	padding-left: 16px;
	padding-right: 16px;

	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;

	min-width: 250px;
	width: 250px;
}

.customers-table__head th.index,
.customers-table__row td.index {
	min-width: 50px;
	width: 50px;
	max-width: 50px;
}

.customers-table__head th.date,
.customers-table__row td.date {
	min-width: 120px;
	width: 120px;
	max-width: 120px;
}

.customers-table__head th.phone,
.customers-table__row td.phone {
	min-width: 170px;
	width: 170px;
	max-width: 170px;
}

.customers-table__row {
	height: 52px;

	border-top: 1px solid var(--first-color-lighten);
}

.customers-table__row .customer__name {
	display: inline-flex;

	align-items: center;

	column-gap: 0.75rem;
}

.customer__icon {
	width: 30px;
	height: 30px;

	border-radius: 50%;
}

@media screen and (max-width: 768px) {
	.customers-item {
		padding: 0.75rem 0.75rem 0.75rem 0.75rem;
	}
}

@media screen and (max-width: 475px) {
	.customers-item {
		padding: 0rem 0.5rem 0.25rem 0.5rem;
	}
}
