.summary-flex {
	position: relative;
	align-items: normal;

	grid-template-columns: 1fr;
	grid-template-rows: min-content;
}

@media screen and (min-width: 1440px) {
	.summary-flex {
		grid-template-areas:
			'prize customers'
			'stuff customers'
			'grafs grafs';

		grid-template-columns: 1fr 1fr;

		grid-template-rows: 220px 280px auto;
	}

	.staff-item {
		grid-area: stuff;
	}

	.summary-flex .display-cards-wrapper {
		grid-area: prize;
	}

	.summary-flex .display-cards-wrapper__cards {
		flex-wrap: nowrap;
	}

	.summary-flex .customers-item {
		grid-area: customers;
	}

	.summary-flex .reports-charts {
		grid-area: grafs;
	}

	/* .summary-flex .current-prize {
		padding-top: 0;
	} */
}
