.chart-card_reports {
	grid-auto-rows: min-content 1fr;
	height: fit-content;
}

.reports-grid {
	grid-auto-rows: min-content;

	grid-template-columns: auto auto;
}

.reports-charts {
	position: relative;

	grid-column-start: 1;
	grid-column-end: -1;

	grid-template-columns: minmax(100px, 1fr);
}

.reports-charts > .reports__title {
	grid-column-start: 1;
	grid-column-end: -1;
}

.reports-charts__item {
	position: relative;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	row-gap: var(--row-gap);
}

.reports__doughnut-item {
	position: relative;
	max-width: 30vw;
	min-width: 250px;
}

.reports__doughnut {
	position: relative;

	min-height: var(--chart-min-height);

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.reports-charts .chart-card__chart {
	min-height: 300px;
}

@media screen and (min-width: 1024px) {
	.reports-charts {
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(
				100px,
				1fr
			);

		min-height: unset;
		height: 373px;
	}

	.reports-charts .chart-card__chart {
		min-height: unset;
		height: 100%;
	}
}

@media screen and (max-width: 768px) {
	.reports-grid {
		grid-template-columns: 1fr;
	}
	.reports-charts {
		min-height: unset;
		height: fit-content;
	}
}
