anyio==3.6.1
asgiref==3.5.2
click==8.1.3
fastapi==0.78.0
h11==0.13.0
idna==3.3
pydantic==1.9.0
setuptools==60.2.0
sniffio==1.2.0
starlette==0.19.1
typing-extensions==4.2.0
uvicorn==0.17.6
wheel==0.37.1
jinja2==3.1.2
python-jose==3.3.0
pathlib==1.0.1
python-multipart==0.0.5
python-dotenv==0.20.0
loguru==0.6.0
uvicorn==0.17.6
sqlalchemy==1.4.36
passlib==1.7.4
xlrd==2.0.1
bcrypt==3.2.2
dateutils==0.6.12
tqdm==4.64.0
openpyexcel==2.5.14


